/********** Base styles **********/
* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
}

section {
  border: 1px solid black;
  background-color: #808080;
  width: 90%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Helvetica;
  color: black;
  overflow: auto;
}

section > div {
  border: 1px solid black;
  padding: 5px;
  float: right;
  width: 150px;
  text-align: center;
}

p {
  text-align: justify;
  clear: right;
  padding: 10px;
}

#tall {
  height: 700px;
}

#chicken {
  background-color: #cc0000;
  color: white;
}

#beef {
  background-color: #00cc00;
  color: white;
}

#sushi {
  background-color: #0000cc;
  color: white;
}

.row {
  width: 100%;
}

#header-nav {
  background-color: #808080;
  border-radius: 0;
  border: 0;
  font-size: 24px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#nav-list {
  margin-top: 2px;
  margin-bottom: 2px;
}
#nav-list a {
  color: black;
  background-color: white;
  border: 1px solid black;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

nav a {
  text-decoration: none;
  color: black;
}

nav ul {
  list-style: none;
}

a > h1 {
  text-align: left;
}

@media (min-width: 992px) {
  .col-lg-12 {
    float: left;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-12 {
    float: left;
    width: 100%;
  }
}